.footer,
.img_footer {
    background: var(--darkCoffee) url(../../../../public/images/otros/arbolesquila.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
}
