/* .footer, */
.img_footer {
    background: var(--darkCoffee) url(../../../../public/images/otros/arbolesquila.jpg);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 40px;
    height: 10vh;
}


.footer {
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
    background-color: var(--lightCoffee);
    padding: 20px;
    color: var(--pureBlack);
}
  
.section {
    padding: 10px;
}
.section:nth-child(2) {
    border-right: 1px solid #ccc;
}

.footer h3 {
    font-size: 1rem;
}

.footer p {
    margin-top: 10px;
    font-size: 0.8rem;
}

.footer_bottom {
    background-color: var(--lightCoffee);
    text-align: center;
    font-size: 0.8rem;
    color: var(--pureBlack);
}
.footer_btn:hover {
    background-color: var(--darkCoffee);   
}
.footer_bottom p{
    padding-top: 10px;
    opacity: 70%;
}

.social {
    padding-top: 20px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: var(--lightCoffee);
    
}

.social a {
    text-decoration: none;
    padding: 10px ;
   
}

.social a:hover {
    background-color: var(--darkGreen);
}

.footer_btn {
    margin-top: 20px;
    background-color: var(--darkGreen);
    border-radius: 5px;
    color: var(--white);
    font-size: 1rem;
    padding: 5px 30px;
    cursor: pointer;
}


@media (max-width: 768px) {
    .footer {
      grid-template-columns: 1fr;
    }
    
    .section {
      margin-bottom: 10px;
    }
   
  }
/* 
.footer_row {
    display: flex;
    flex-wrap: wrap;
}

.footer_bottom {
    margin-top: 50px;
} */

/* .l{ 
    background-image: url(media/linefooter.png); 
    margin-top: 0px;
    width: 2px;
    height: 110px;
    position: absolute;
    visibility: visible;
} */

/* .footer .content {
    padding: 0 50px;
}

.footer .content:first-child{
    padding-top: 40px;
    width: 25%;
    text-align: right;
}

.footer .content:nth-child(2) {
    width: 25%;
    text-align: right;
}

.footer .content:nth-child(3) {
    width: 50%;
    padding-right: 40px;
    text-align: left;
}

.footer .content .mail_footer .footer-btn {
    justify-content: flex-end;
    margin-left: 275px;
}

.footer .social {
    width: 100%;
} */




/* .footer .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    background-color: var(--highlightCoffee);
}

.footer h3 {
    font-size: 1rem;
}

.footer p {
    font-size: 0.8rem;
}

.inline-f {
    border-bottom: 2px solid var(--pureBlack);
    display: inline-block;
}

.footer_bottom {
    text-align: center;
}

.social {
    min-width: 720px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    background: var(--darkCoffee);
}

.social a {
    text-decoration: none;
    padding: 10px ;
}

.social a:hover {
    background-color: var(--darkGreen);
}

.footer-btn {
    font-size: 1rem;
    padding: 5px 30px;
} 

 */