:root {
  /* Variables Paleta de colores */
  --white: #ffffff;
  --info: #707070;
  --darkCoffee: #A38F85;
  --lightCoffee: #CDC6C3;
  --quilaColor: #047F37;
  --lightGray: #dfe9f3;
  --lightGreen: #D1F7E3;
  --darkGreen: #75B490;
  --pureBlack: #333333;
  --highlightCoffee: #E1D5C8;
}


/* * {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
} */
*, *:before, *:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

img {
  max-width: 100%;
}

